.whereami-flags {
  position: fixed;
  top: 30%;
  right: 0px;
  border-radius: 10px;
  z-index: 999;
}
.whereami-flags ul {
  list-style: none;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.whereami-flags ul li {
  display: inline-block;
  visibility: top;
  margin-bottom: -4px;
  width: 32px;
  height: 32px;
  background: pink;
}
.whereami-flags ul:hover li{
  display: block;
  margin: 0px;
  width: 120px;
  min-height: 38px;
  color: #fff;
}
.whereami-flags ul:hover li span{
  display: block;
  padding: 10px 5px;
  text-transform: uppercase;
}
.whereami-flags ul li span {
  display: none;
}
.whereami-flags ul li.whereami-flags_clean {
  background-color: #fff;
}
.whereami-flags ul li.whereami-flags_stage {
  background-color: #489fad;
}
.whereami-flags ul li.whereami-flags_prod {
  background-color: #98b54a;
}
.whereami-flags ul li.whereami-flags_local {
  background-color: #af499e;
}
.whereami-flags ul li.whereami-flags_admin {
  background-color: #b24949;
}
