<!-- popup.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Where Am I?</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@0;1&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="../css/color.css">
	<link rel="stylesheet" href="../css/popup.css">
</head>

<body>
	<main>
		<div class="central">
			<header>
				<h1>Where Am I?</h1>
			</header>
			<article>
				<section>
					<button type="button">
						<img src="../assets/icons/pencil-outline.svg" alt="Editar">
					</button>
					<p>Você está em</p>
					<h2>Ambiente de Desenvolvimento</h2>
					<div class="color"></div>
					<footer>
						<p>Borda Completa</p>
						<p>5px</p>
					</footer>
				</section>
			</article>
		</div>
	</main>
	<script src="../js/popup.js"></script>
</body>

</html>
