:root {
	--main: #008cff;
	--second: #c52a2a;
	--dark: #011d34;
	--light: #f5f7f8;
	--input-border: #ccc;
	--background-body: #f5f7f8;
	--background-element: #fff;
	--text-light: #fff;
	--text-dark: #011D34;
}